{% extends 'base.html' %}
{% load static %}

{% block title %}予防接種情報の登録｜U T T A{% endblock %}

{% block contents %}
<link href="{% static 'css/Main.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="my-div-style w-100" >
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table" width="850">
                    <h2>予防接種情報の登録</h2>
                    {{ form.as_table }}
                    {{form.errorlist }}
                </table>
                <br>
                <button><a href="{% url 'dogcat:index' %}">戻る</a></button>
        　　　　　<button><a class="btn-primary">登録</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}