{% extends 'base.html' %}
{% load static %}

{% block title %}詳細表示｜Dog&Cat{% endblock %}

{% block contents %}
<form id="database" method="post" action="#">
    <h2>詳細表示</h2>
    <div class = "row">
        <div class="col-3">
            <strong>個体番号：</strong>
            　　{{ objects.mc_number }}
        </div>
    </div>
<hr>
    <div class = "row">
        <div class="col-3">
            <strong>　　日付：</strong>
            　{{ objects.date }}
        </div>
    </div>
<hr>
    <div class = "row">
        <div class="col-3">
            <strong>接種ワクチン：　</strong>
            {{ objects.vaccination_type }}
        </div>
    </div>
<hr>
    <div class = "row">
        <div class="col-3">
            <strong>病院ID：</strong>
            　　{{ objects.hospital_id }}
        </div>
    </div>
<hr>
    <br>

    <div class="return-button">
        <button><a href="{% url 'dogcat:Vsearch' %}" class="button-index">戻る</a></button>
        <button><a href="{% url 'dogcat:update' %}" class="button-index">変更</a></button>
    </div>
    <div>
        <ul>
            {% for obj in object_list %}
            <li>{{ obj.title }}</li>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}