{% extends 'base.html' %}
{% load static %}

{% block title %}詳細表示｜U T T A{% endblock %}

{% block contents %}
<form id="database" method="post" action="#">
    <h2>詳細表示</h2>
    {% for aiueo in objects %}
        {% if forloop.first %}
        <div class = "row">
            <div class="col-3">
                <strong>個体番号：</strong>
                　　{{ aiueo.mc_number }}
            </div>
        </div>
        {% endif %}
        <br>
        <div class = "row">
            <div class="col-3">
                <strong>　　日付：</strong>
                　{{ aiueo.date }}
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class="col-3">
                <strong>接種ワクチン：　</strong>
                {{ aiueo.vaccination_type }}
            </div>
        </div>
        <hr>
        <div class = "row">
            <div class="col-3">
                <strong>病院ID：</strong>
                　　{{ aiueo.hospital_id }}
            </div>
        </div>
        <a class="btn btn-danger mt-5 ml-2 md-3" href="{% url 'dogcat:vaccination_delete' aiueo.pk %}">削除</a>
        <br><br>
    {% endfor %}

    <br>

    <div class="return-button">
        <button><a href="{% url 'dogcat:Vsearch' %}" class="button-index">戻る</a></button>
<!--        <button><a href="{% url 'dogcat:update' %}" class="button-index">変更</a></button>-->
    </div>
    <div>
        <ul>
            {% for obj in object_list %}
            <li>{{ obj.title }}</li>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}