<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="my-div-style w-100">
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <table class="table" width="850">
                            <h2>病院のIDとPASSWORDの登録</h2>　
                            {{ form.as_table }}
                        </table>
                　　　　　<button><a class="btn-primary">登録</a></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>