{% extends 'userbase.html' %}

{% block title %}Log In | owner{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style" style="margin-top">
            <br>
            <form method="post" action="{% url 'account_login' %}">

                <h5>Log In</h5>
                {% csrf_token %}

                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="example">
                  <a href class="btn-solid-gold">　ログイン　</a>
                </div>
                <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}