{% load static %}

<html lang="ja">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Custom styles for this template -->
        <link href="{% static 'css/Main.css' %}" rel="stylesheet">
        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/Main.css' %}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul>
                        <header>
                            <h1><a href="{% url 'dogcat:index' %}">~犬猫の予防接種証明書電子化アプリ~</a></h1>
                            <ul> {% if user.is_authenticated %}
                                <ul>
                                    <a href="{% url 'dogcat:password' %}">情報変更</a>
                                    <a href="{% url 'dogcat:logout' %}">ログアウト</a>
                                </ul>
                                {% else %}
                                <ul>
                                    <a href="{% url 'account_signup' %}">新規登録</a>
                                    <a href="{% url 'account_login' %}">ログイン</a>
                                </ul>
                            </ul>
                        </header>
                        <ul>
                            <a href="{% url 'dogcat:index' %}" class="btn btn--menu btn--cubic">ホーム</a>
                            <a href="{% url 'dogcat:create' %}" class="btn btn--menu btn--cubic">データベースの登録</a>
                            <a href="{% url 'dogcat:vaccination' %}" class="btn btn--menu btn--cubic">予防接種情報</a>
                        </ul>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block header%}{% endblock %}

            {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-style">
                        <ul class="messages"> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            {% block contents%}{% endblock %}

            <!-- Footer -->
            <footer>
                @ Pet System 2022.
            </footer>
            <!-- Bootstrap core JavaScript -->
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        </div>
    </body>
</html>