{% load static %}

<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Main.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body>
	<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-expand navbar-light fixed-top">
          <div class="container">
            <h1><a class="navbar-brand" href="{% url 'dogcat:index' %}">~犬猫の予防接種証明書電子化アプリ~</a></h1>
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse">
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                  <li class="nav-item {% block active_index %}{% endblock %}">
                      <a class="nav-link" href="{% url 'dogcat:index' %}">情報変更</a>
                  </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dogcat:logout' %}">ログアウト</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'dogcat:signup' %}">新規登録</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'dogcat:login' %}">ログイン</a>
                    </li>
                 {% endif %}
              </ul>
            </div>
          </div>
        </nav>

        {% block header%}{% endblock %}

        {% if messages %}
          <div class="container">
              <div class="row">
                  <div class="my-div-style w-100">
                      <ul class="messages" style="list-style: none;">
                          {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                              {{ message }}
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
        {% endif %}

        {% block contents%}{% endblock %}

        <!-- Footer -->
        <footer>
            Copyright &copy; Pet System 2022
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  	</div>
  </body>

</html>