{% extends 'base.html' %}
{% load static %}

{% block title %}Dogcat | チームH卒研{% endblock %}

{% block header%}
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="static/css/Main.css"/>-->
    {% load static %}
<link href="static/css/Main.css" rel="stylesheet" type="text/css" />
  </header>
{% endblock %}
{% block contents %}
    <a href="{% url 'dogcat:index' %}" class="btn btn--menu btn--cubic">ホーム</a>
    <a href="{% url 'dogcat:create' %}" class="btn btn--menu btn--cubic">データベースの登録</a>
    <a href="{% url 'dogcat:vaccination' %}" class="btn btn--menu btn--cubic">予防接種情報</a>
    <form id="database" method="post" action="#">
      <label for="databaseinput">データベースの登録</label>
      <br>
      <label for="number">　　個体番号：</label>
      <input class="numberform" required name="database[number]" type="number"/>
      <br>
      <label for="data">　　　　日付：</label>
      <input class="dataform" required name="database[data]" type="data"/>
      <br>
      <label for="vaccination">接種ワクチン：</label>
      <input class="vaccinationform" required name="database[vaccination]" type="vaccination"/>
      <br>
      <label for="hospitalid">　　　病院ID：</label>
      <input class="hospitalidform" required name="database[hospitalid]" type="hospitalid"/>
      <br>
      <div class="return-button">
        <button><a href="{% url 'dogcat:index' %}" class="button-index">戻る</a></button>
        <button><a href="{% url 'dogcat:index' %}" class="button-index">登録</a></button>
      </div>
    <footer>
      @ Pet System 2022.
    </footer>
      {% endblock %}