{% extends 'base.html' %}
{% load static %}

{% block title %}Dogcat | チームH卒研{% endblock %}

{% block contents %}
<div class="container">
    <label>データベースの登録</label>　
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table" width="700">
                    {{ form.as_table }}
                </table>
                <button><a href="{% url 'dogcat:index' %}" class="button-index">戻る</a></button>
        　　　　　<button><a class="btn-primary">登録</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}