<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="Main.css"/>
    <title>Dog&Cat｜Hチーム卒研</title>
  </head>
  <body>
    <header>
      <h1>~犬猫の予防接種証明書電子化アプリ~</h1>
      <ul>
        <a href= "signup.html" >新規登録</a>
        <a href= "login.html" >ログイン</a>
      </ul>
    </header>
    <p>ペット対象：犬・猫</p>
    <div class="logo_center">
      <br>
      <h2>Dog&Cat</h2>
    </div>
    <a href="login.html" class="button-login">Log In</a>
      <footer>
        @ Pet System 2022.
      </footer>
  </body>
</html>
