{% extends 'base.html' %}
{% load static %}

{% block title %}Dogcat | チームH卒研{% endblock %}

{% block contents %}

<form id="login" method="post" action="#">
    <label for="loginlabel">Log In</label>
    <br>
    <label for="ID">　　　　ID：</label>
    <input required name="login[ID]" type="text" autocapitalize="off" autocorrect="off"/>
    <br>
    <label for="password">パスワード：</label>
    <input class="password" required name="login[password]" type="password"/>
    <br>
    <a href="Forgot.html">パスワードやID忘れ？</a>
    <br>
    <button type="submit">ログイン</button>
</form>
{% end block %}