<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="Main.css" />
    <title>Dog&Cat｜Hチーム卒研</title>
  </head>
  <body>
    <header>
      <h1><a href= "nothome.html" >~犬猫の予防接種証明書電子化アプリ~</a></h1>
    </header>
    <form id="password" method="post" action="#">
      <label for="changepassword">パスワード変更</label>
      <br>
      <label for="password">　　　パスワード：</label>
      <input class="password" required name="login[password]" type="password" />
      <br>
      <label for="ID">パスワード再入力：</label>
      <input class="password2" required name="signup[password2]" type="password2"/>
      <br>
      <button type="submit">登録</button>
    </form>
      <footer>
        @ Pet System 2022.
      </footer>
  </body>
</html>
