{% extends 'base.html' %}
{% load static %}

{% block title %}Dogcat | チームH卒研{% endblock %}

{% block contents %}
<body>
<form id="password" method="post" action="#">
    <label for="changepassword">パスワード変更</label>
    <br>
    <label for="password">　　　パスワード：</label>
    <input class="password" required name="login[password]" type="password"/>
    <br>
    <label for="ID">パスワード再入力：</label>
    <input class="password2" required name="signup[password2]" type="password2"/>
    <br>
    <button type="submit">登録</button>
</form>
{% endblock %}}