{% extends 'base.html' %}
{% load static %}

{% block title %}Dogcat | チームH卒研{% endblock %}

{% block contents %}
<form id="signup" method="post" action="#">
    <label for="signuplabel">Sign Up</label>
    <br>
    <label for="ID">　　　　 　　 ID：</label>
    <input required name="signup[ID]" type="text" autocapitalize="off" autocorrect="off"/>
    <br>
    <label for="mail"> 　メールアドレス：</label>
    <input class="mail" required name="signup[mail]" type="mail"/>
    <br>
    <label for="password">　　　パスワード：</label>
    <input class="password" required name="signup[password]" type="password"/>
    <br>
    <label for="ID">パスワード再入力：</label>
    <input class="password2" required name="signup[password2]" type="password2"/>
    <br>
    <button type="submit">登録</button>
</form>
{% endblock %}}