{% extends 'userbase.html' %}
{% load static %}

{% block title %}予防接種証明書｜Dog&Cat{% endblock %}

{% block contents %}
<table class="yorusika">
    <h8>予防接種証明書</h8>
    <br><br>
        <tr class="certificate">
            <th class="agenda">所有者名</th>
            <td class="content">{{ objects.owner_name }}</td>
        </tr>

        <tr class="certificate">
            <th class="agenda">住所</th>
            <td class="content">{{ objects.owner_address }}</td>
        </tr>

        <tr class="certificate">
            <th class="agenda">ワクチン</th>
            <td class="content">{{ objects.vaccination_type }}</td>
            <th class="agenda">接種日</th>
            <td class="content">{{ objects.date }}</td>
        </tr>

        <tr class="certificate">
            <th class="agenda">病院ID</th>
            <td class="content">{{ objects.hospital_id }}</td>
        </tr>

        <tr class="certificate">
            <th class="agenda">個体番号</th>
            <td class="content">{{ objects.mc_number }}</td>
            <th class="agenda">ペット名</th>
            <td class="content">{{ objects.pet_name }}</td>
        </tr>

        <tr class="certificate">
            <th class="agenda">種別</th>
            <td class="content">{{ objects.species }}</td>
            <th class="agenda">性別</th>
            <td class="content">{{ objects.gender }}</td>
        </tr>
</table>
<h5>上記の通り接種したことを証明します。</h5>

<div class="link-cer">
    <img src=”/static/QRコード.png" >
    <a href="">QRコードを発行する</a>
</div>

{% endblock %}