{% extends 'userbase.html' %}
{% load static %}

{% block title %}予防接種証明書｜Dog&Cat{% endblock %}

{% block contents %}
    <div class="box4">
        <h3>予防接種証明書</h3>
        <div class="box4">
            <strong>飼主名 : {{ context_dict.mc_number }}</strong>
            <hr>
            <strong>住所 : {{ context_dict.mc_number }}</strong>
            <hr>
            <strong>名前 : {{ context_dict.mc_number }}</strong>
            <hr>
            <strong>カルテNo : {{ context_dict.mc_number }}</strong>
            <strong>生年月日 : {{ context_dict.mc_number }}</strong>
            <hr>
            <strong>種別 : {{ context_dict.mc_number }}</strong>
            <strong>性別 : {{ context_dict.mc_number }}</strong>
            <hr>
            <strong>接種したワクチンの種類 : {{ context_dict.mc_number }}<br>接種生年月日 : {{ context_dict.mc_number }}</strong>
            <hr>
            <br>
            {病院情報}
        </div>
        上記の通り接種したことを証明します。
    </div>

    <div class="link-cer">
        <img src=”/static/QRコード.png" >
      <a href="">QRコードを発行する</a>
    </div>
{% endblock %}