{% extends 'userbase.html' %}
{% load static %}

{% block title %}お薬情報の登録｜Dog&Cat{% endblock %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ add_drug_form.media }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
</head>
{% block contents %}
<div class="drug_box" xmlns="http://www.w3.org/1999/html">
    <p class="label-title">お薬情報の登録</p>
    <form method="POST"  enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button><a href="{% url 'owner:drug' %}" class="button-index">戻る</a></button>
        <button><a class="btn-primary">保存する</a></button>
    </form>
</div>
{% endblock %}