{% extends 'userbase.html' %}
{% load static %}

{% block title %}お薬手帳｜Dog&Cat{% endblock %}

{% block contents %}
<br>
<div class="calendar-container">
    <a href="{% url 'owner:drug' month_previous.year month_previous.month %}">前月</a>
    {{ month_current | date:"Y年m月" }}
    <a href="{% url 'owner:drug' month_next.year month_next.month %}">次月</a>
    <table class="table">
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week_day_schedles in month_day_schedules %}
            <tr>
                {% for day, medicines in week_day_schedles.items %}
                    {% if now == day %}
                        <td class="table-success">
                            {% else %}
                        <td>
                    {% endif %}

                <div>
                    {% if month_current.month != day.month %}
                        {{ day | date:"m/d" }}
                    {% else %}
                        {{ day.day }}
                    {% endif %}

                    {% for medicine in medicines %}
                            {{ medicines.pet_id }}<br>
                            {{ medicine.medicine_type }}
                    {% endfor %}
                </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="example">
  <a href="" class="btn-drug">🕓アラーム</a>
  <a href="{% url 'owner:drug_create' %}" class="btn-drug">お薬情報の登録</a>
</div>
{% endblock %}