{% extends 'base.html' %}
{% load static %}

{% block title %}お薬情報の登録｜Dog&Cat{% endblock %}

{% block header%}
<div class="drug_box" xmlns="http://www.w3.org/1999/html">
      <p class="label-title">お薬情報の登録</p>
        <label class="required">飲む日</label>
        <br>
        <input type="date" id="date" name="飲む日" value="2022-11-17" />           <br>
        <label class="required">お薬名</label>
        <br>
        <input type="" name="drugname" class="form-1">
        <br>
        <label class="required">用法</label>
        <br>
        <input type="" name="usage" class="form-1">
        <br>
        <label class="required">１回量</label>
        <br>
        <input type="" name="dose" class="form-1">
        <br>
        <label class="required">調剤量</label>
        <br>
        <input type="" name="Dosage" class="form-1">
        <br>
        <label class="required1">飲み方</label>
        <br>
        <input type="" name="ive" class="form-1">
      <div class="example">
        <a href="drug.html" class="drug-btn">保存する</a>
      </div>
    </div>
{% endblock %}