{% extends 'userbase.html' %}
{% load static %}

{% block title %} 確認画面｜Dog&Cat{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <h6>確認のため情報の入力をお願いします</h6>　
                <table>
                    {{ form.as_table }}
                </table>
                <br>
        　　　　　<button><a class="btn-primary">検索</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}