{% extends 'userbase.html' %}
{% load static %}

{% block title %} 確認画面｜U T T A{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="security_box">
            <p class="label-title2">確認のため情報の入力をお願いします</p>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
        　　　　　<button><a class="btn-primary">確認</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}