{% load static %}

<html lang="ja">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block head %}{% endblock %}

    </head>

    <body>
        <div id="wrapper">
            <header>
                <h1><a href="{% url 'owner:userindex' %}">犬、猫予防接種証明書電子化アプリ</a></h1>
                {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <a href="{% url 'account_logout' %}">ログアウト</a>
                        <a href=>ユーザ情報変更・削除</a>
                    </ul>
                    {% else %}
                    <ul>
                        <a href="{% url 'account_login' %}">ログイン</a>
                        <a href="{% url 'account_signup' %}">新規登録</a>
                    </ul>
                </nav>
            </header>
            {% endif %}

            {% block contents %}{% endblock %}

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                    crossorigin="anonymous"></script>
            {% block extrajs %}{% endblock %}
            <footer>
                <div class="sen"></div>
                <div class="pet-function">
                  <a href="{% url 'owner:userindex' %}">🏡　<br>ホーム</a>
                  <a href="{% url 'owner:Ssearch' %}">🏥　<br>病院検索</a>
                  <a href="{% url 'owner:drug' %}">💊　<br>お薬手帳</a>
                  <a href="{% url 'owner:security' %}">📜　<br>証明書</a>
                </div>
            </footer>
        </div>
    </body>
</html>
