{% extends 'userbase.html' %}
{% load static %}

{% block title %}ログイン｜Dog&Cat{% endblock %}

{% block contents %}
    <div class="example-label">
      <p>Log In</p>
    </div>
    <div class="example">
      <img src="/static/円形アイコン.png" alt="アイコン">
    </div>  
    <div class="example">
      <input type="id" name="userid" placeholder="ID">
      <br>
      <input type="password" name="userpassword" placeholder="パスワード">
    </div>
    <p class="link">
      <a href>パスワードやID忘れ？</a>
    </p>
    <div class="example">
      <a href="{% url 'breeder:index' %}" class="btn-solid-gold">　ログイン　</a>
    </div>
{% endblock %}