{% load static %}

<html lang="ja">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <meta name="viewport" content="widthe=device-width, initial-scale = 1">

        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block head %}{% endblock %}
    </head>

    <body>
        <header>
            <h1><a href="{% url 'breeder:index' %}">犬、猫予防接種証明書電子化アプリ</a></h1>
            <ul> {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <a href="{% url 'breeder:userlogout' %}">ログアウト</a>
                        <a href>ユーザ情報変更・削除</a>
                    </ul>
                    {% else %}
                    <ul>
                        <a href="{% url 'breeder:userlogin' %}">ログイン</a>
                        <a href="{% url 'breeder:usersignup' %}">新規登録</a>
                    </ul>
                </nav>
            </ul>
        </header>
        {% endif %}
        <footer>
            <div class="sen"></div>
            <div class="pet-function">
              <a href="{% url 'breeder:index' %}">🏡　<br>ホーム</a>
              <a href="{% url 'breeder:store' %}">🏥　<br>病院検索</a>
              <a href="{% url 'breeder:drug' %}">💊　<br>お薬手帳</a>
              <a href>📜　<br>証明書</a>
            </div>
            © 2022 Pet System
        </footer>
        {% block header%}{% endblock %}
    </body>
</html>
