{% extends 'userbase.html' %}
{% load static %}

{% block title %}新規登録｜Dog&Cat{% endblock %}

{% block header%}
    <div class="example-label">
      <p>Sign Up</p>
    </div>
    <div class="example">
      <label for="userid">ID:</label>
      <br>
      <input type="id" name="userid">
      <br>
      <label for="usermail">メールアドレス:</label>
      <br>
      <input type="mail" name="usermail">
      <br>
      <label for="userpassword">パスワード:</label>
      <br>
      <input type="password" name="userpassword">
      <br>
      <label for="userpassword2">パスワード再入力:</label>
      <br>
      <input type="password" name="userpassword2">
      <p></p>
      <a href="{% url 'breeder:userlogin' %}" class="btn-solid-gold">　登録　</a>
    </div>
{% endblock %}